################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug
/Application/bin/Debug
/Application/obj
/Application/Application.csproj.user
/DataAccess/bin/Debug
/DataAccess/obj/Debug
/DataAccess/obj
/Domain/bin/Debug
/Domain/obj
/Proxy/bin/Debug
/Proxy/obj
/Utility/bin/Debug
/Utility/obj
/Api/obj
*.user
/Frontend/.angular/cache/18.2.5
/Frontend/node_modules
