<body>
  <div class="login-container">
    <div class="login-card">
      <h2 style="text-align: center;">Generar Firma de Correo</h2>

      <div class="card-container">
        <div class="card front-card">
          <div class="logo-section">
            <img src="/logos/Logos DDC-04.svg" alt="DDC Logo" class="logo">
          </div>
          <div class="info-section">
            <img src="assets/foto-perfil.png" alt="Foto de Perfil" class="profile-picture">
            <h2 class="name">{{ nombre }}</h2>
            <p class="position">{{ cargo }}</p>
            <p class="department">Área Comercial DDC</p>
            <p class="hashtag">#EntregandoLoMejor</p>
            <a href="https://DavidDelCurto.cl" class="website">DavidDelCurto.cl</a>
            <img [src]="qrCodeDataUrl" alt="QR Code" class="qr-code" *ngIf="qrCodeDataUrl">
          </div>
          <div class="footer-section">
            <p class="footer-text">Administración</p>
          </div>
        </div>
        
        <div class="card back-card">
          <div class="logo-section">
            <img src="/logos/Logos DDC-04.svg" alt="DDC Logo" class="logo">
          </div>
          <div class="commitment-section">
            <p class="commitment-text" style="color: blue;">Este es mi compromiso:</p>
            <p class="hashtag " style="color: blue;">#EntregandoLoMejor</p>
          </div>
          <div class="footer-section">
            <p class="footer-text">
              Esta credencial es personal e intransferible. En caso de extravío, se ruega dar aviso a xxddc.cl
            </p>
          </div>
        </div>
      </div>

      <div class="button">
        <a class="btn-secondary-1">Reingresar datos</a>
        <a class="btn-secondary-1" href="descargar"> Descargar credencial</a>
        <a class="btn-secondary" href="generarfirma">Crear</a>
      </div>
    </div>
  </div>
</body>
