<body>
  <div class="login-container">
    <div class="login-card">
      <h2 style="text-align: center;">Generar Credencial</h2>

      <div class="card-container">
        <div class="card front-card">
          <div class="logo-section">
            <img src="/DDC-05.svg" alt="DDC Logo" class="logo">
          </div>
          <div class="info-section">
            <div class="text-container">
              <img src="/user-2935527_1920.png" alt="Foto de Perfil" class="profile-picture">
              <div class="info-container">
                <h2 class="name" style="font-family: 'Titillium Web', sans-serif; font-size:18px; font-weight: 600;">{{ nombre }}</h2>
                <p class="position" style="font-family: 'Titillium Web', sans-serif; font-size:16px; font-weight: 300;">{{ cargo }}</p>
              </div>
              <div class="footer-links">
                <p class="hashtag1" style="margin-bottom:15px; margin-top: 65px; font-family: 'Titillium Web', sans-serif; font-size:12px; font-weight: 400;">#EntregandoLoMejor</p>
                <a href="https://www.daviddelcurto.cl/" class="website" style="margin-top: -15px; font-family: 'Titillium Web', sans-serif; font-size:12px; font-weight: 600;text-decoration: underline;">DavidDelCurto.cl</a>
              </div>
            </div>

            <div class="qr-container">
              <img src="/images.png" style="height: 70px; width: 70px;">
              <!-- <img [src]="qrCodeDataUrl" alt="QR Code" class="qr-code" *ngIf="qrCodeDataUrl"> -->
            </div>
          </div>
          <div class="footer-section">
            <p class="footer-text" style="font-size: 12px;">{{ segmento }} | OFICINA CENTRAL</p>
          </div>
        </div>

        <div class="card back-card">
          <div class="logo-section">
            <img src="/DDC-04.svg" alt="DDC Logo" class="logo">
          </div>
          <div class="commitment-section">
            <p class="commitment-text" style="text-align: center; font-weight: 500;">Compromiso DDC</p>
            <p class="hashtag" style="text-align: center; font-weight: 500;">#EntregandoLoMejor</p>
          </div>
          <div class="footer-section">
            <p class="footer-text" style="text-align: left; font-weight: 500; font-size: 11px; margin-left: 30px;">
              Esta credencial es personal e intransferible. En caso de <br>extravío, se ruega dar aviso a <strong>gerenciapersonas&#64;ddc.cl</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="button">
        <a class="btn-secondary-1" (click)="descargarImagen()">Descargar credencial</a>
        <a class="btn-secondary" href="generarfirma">Crear</a>
      </div>
    </div>
  </div>
</body>