@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(to right, #87CEEB, #005bb5) no-repeat top left / 100% 50%, white 50%;
  font-family: 'Titillium Web', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex: 1; 
}

.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 700px;
  height: auto; 
  max-height: 70vh;
  overflow-y: auto;
}

.card-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 20px; 
  width: 100%;
}

.card {
  width: 400px;  
  height: 450px; 
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative; 
}

.front-card, .back-card {
  background-size: cover;
  background-position: center;
}

.front-card {
  background-image: url('/Fondo_azul.png');
}

.back-card {
  background-image: url('/fondo_blanco.png');
}

.logo-section {
  text-align: center;
  margin-top: 65px; 
}

.logo {
  width: 70px; 
  height: auto; 
  transform: scale(5); 
}

.info-section {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  align-items: center; 
}

.text-container {
  text-align: left; 
}

.qr-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
<<<<<<< HEAD
  margin-bottom: -170px;
  margin-left: -100px;
=======
  margin-bottom: -20px;
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
}

.profile-picture {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 25px;
}

.name {
  font-size: small;
  font-weight: bold;
  color: white;
  margin-bottom: -5px;
  white-space: nowrap
}

.position, .department, .hashtag1, .website {
  color: white;
<<<<<<< HEAD
  margin-bottom: -25px; 
=======
  margin-bottom: -25px; /* Añadir espacio entre los elementos */
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
  white-space: nowrap;
}

.website {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  
}

.qr-code {
  width: 80px;
  height: 80px;
  margin-top: 150px;
  margin-left: -800px;
}

.footer-section {
  background-color: #1abc9c;
  text-align: center;
<<<<<<< HEAD
  padding: 8px 0; 
  position: absolute; 
  bottom: 0; 
  width: 100%; 
=======
  padding: 8px 0; /* Reduce el padding para hacer el footer más pequeño */
  position: absolute; /* Posiciona el footer al fondo de la tarjeta */
  bottom: 0; /* Asegura que esté al fondo */
  width: 100%; /* Hace el footer menos ancho */
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
  
}

.footer-text {
  color: white;
  font-size: 6px;
  text-align: center;
  font-size: medium;
  margin-bottom: 20px;

}

.back-card .footer-section {
  background-color: transparent; 
  text-align: center;
  padding: 10px 0;
}

.back-card .footer-text {
  color: rgb(0,61,165); 
  font-size: 14px;
  font-weight: 500;
}

.button {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-secondary {
  background-color: #005bb5;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-secondary-1 {
  background-color: white;
  color: #005bb5;
  border: 2px solid #005bb5;
  padding: 8px 16px;
  cursor: pointer;
}
.commitment-section {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-left: 20px;
}
 
.commitment-text {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 56, 120);
  margin-bottom: -25px;

}

.hashtag {
  font-size: large;
  color: rgb(0,61,165); 
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.back-card .footer-section {
  background-color: white;
  text-align: center;
  padding: 8px 0; 
  position: absolute; 
  bottom: 0;
  width: 100%; 
  
}

.back-card .footer-text {
  font-size: 12px;
  color: rgb(0,61,165); 
  text-align: left;
  font-weight: 500;
  


} 
.info-container {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.info-container > * {
  margin-bottom: -10px; 
  margin-left: 25px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 25px;

}

.position, .department {
  color: white;
  margin-top: 5px;
}
.footer-links {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  text-align: left; 
  margin-top: 20px;
  margin-left: 25px;

}

.hashtag1, .website {
  margin: 0; 
}


.website {
  text-decoration: none;
  color: white; 
}