
<div class="table-container">
  <div class="toolbar">
    <h1 class="title">Mantenedores / </h1>
    <h1 class="title" style="color: grey;">Colaboradores</h1>
    <div class="btn btn-primary" (click)="abrirFormulario()">
      <img src="/icons/crear.svg" class="option-icon" style="margin-right: 10px;">
      <span>Nuevo Colaborador</span>
    </div>
  </div>

  <input type="text" placeholder="Buscar por Nombre, RUT, Correo electrónico..." class="search-bar" />

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Nombre completo</th>
          <th>RUT</th>
          <th>Área / Centro de Coste</th>
          <th>Gerencia</th>
          <th>Cargo</th>
          <th>Celular</th>
          <th>Correo</th>
          <th>Estado</th>
          <th>Adjuntos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colaborador of paginatedColaboradores">
          <td><input type="checkbox"></td>
          <td>{{ colaborador.nombre }}</td>
          <td>{{ colaborador.rut }}</td>
          <td>{{ colaborador.segmento }}</td>
          <td>{{ colaborador.gerencia }}</td>
          <td>{{ colaborador.cargo }}</td>
          <td>{{ colaborador.celular }}</td>
          <td>{{ colaborador.correo }}</td>
          <td>{{ colaborador.color_id }}</td>
          <td>
            <div class="icon-container">
              <div class="icon-item"><img src="/icons/image-regular.svg" alt="Foto" /></div>
              <div class="icon-item"><img src="/icons/signature-solid.svg" alt="Firma" /></div>
              <div class="icon-item"><img src="/icons/id-card-solid.svg" alt="Credencial" /></div>
            </div>
          </td>
          <td>
            <button class="btn-edit" (click)="editar(colaborador)"></button>
            <button class="btn-delete" (click)="eliminar()"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="label">Principio</span>
    <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>
    
    <div class="page-numbers">
      <button *ngFor="let page of pages()" (click)="goToPage(page)" [class.active]="currentPage === page">
        {{ page }}
      </button>
    </div>
    
    <span (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="arrow">›</span>
    <span class="label">Final</span>
  </div>
</div>
