.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; 
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 80%; 
  max-width: 600px; 
  max-height: 68vh; 
  overflow-y: auto; 
}

 .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  
  .form-group {
    flex-basis: calc(33.33% - 10px); 
    margin-right: 5px; 
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  
  .close-btn {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background: none; 
    border: none; 
    font-size: 20px; 
    cursor: pointer;
  }
  .button {
    display: flex;
    gap: 10px; 
    margin-left: auto; 
    margin-top: 20px; 
    justify-content: flex-end; 
}

.btn-secondary {
    background-color: #005bb5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.btn-secondary-1 {
    background-color: white;
    color: #005bb5;
    border: 2px solid #005bb5; 
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

