
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.search{
  width: calc(100% - 35px);
  padding: 5px;
  margin-bottom: 20px;  
}

.search-section {
  background: linear-gradient(to right, #87CEEB, #005bb5) no-repeat top left / 100%;
  color: white;
  padding: 20px;
  margin-top: 70px;
  text-align: left;
}

.search-section-white {
  background: white;
  padding: 10px;
  text-align: right;
  width: 90%; 
}


.search-bar input {
  border-radius: 8px;
  border: 80px solid #ddd;
}
  
.flex-container {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
}
  
  .btn-secondary {
    background-color: #005bb5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
  }
  
  .btn-secondary-1 {
    background-color: white;
    color: #005bb5;
    border: 2px solid #005bb5; 
    cursor: pointer;
    width: 17%;
    font-family: "Open Sans", sans-serif;
    font-size: medium;

  }
  
.title-search{
  font-family: "Titillium Web", sans-serif;
  font-size: xx-large;
  font-weight: 600;

}

.text-search{
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size:large;
  color: black;
  text-align: left;
  margin-left: 25px;
}
.divider {
  height: 1px;
  background-color: #ccc; 
  margin: 0 20px; 
}
.dropdown-menu {
  border: 1px solid #005bb5;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute; 
  z-index: 1000; 
}

.dropdown-option {
  display: block;
  background: transparent;
  border: none;
  color: #005bb5;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-option:hover {
  background-color: #f0f0f0; 
}
.selected {
  background-color: #87CEEB; 
  color: white; 
}

.load-excel-button {
  background-color: #005bb5; 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
  width: 100%; 
  text-align: center; 
  border-radius: 5px;
}

.load-excel-button:disabled {
  background-color: #ccc;
  cursor: not-allowed; 
  color: darkgray; 
}
