.modal {
    display: block; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}
.btn-secondary {
    background-color: #005bb5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

.btn-secondary-1 {
    background-color: white;
    color: #005bb5;
    border: 2px solid #005bb5; 
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}
.button-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}
