@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #87CEEB, #005bb5) no-repeat top left / 100% 50%, white 50%;
}

.login-container {
    height: 100%;
}

.login-card {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #005bb5;
    border-color: #005bb5;
}

.btn-link {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.mt-5 {
    margin-top: 5rem;
}

.title{
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
}
.icono-login {
    width: 70%; 
    height: auto;
    margin-top: 0; 
    display: block; 
    margin-right: auto; 
}
 