<div class="form-container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <h2>Generador de Firmas y Credenciales</h2>
  
      <label for="nombreCompleto">Nombre completo</label>
      <input id="nombreCompleto" formControlName="nombreCompleto" placeholder="Ingresa tu nombre y apellido">
  
      <label for="rut">RUT</label>
      <input id="rut" formControlName="rut" placeholder="Ingresa tu RUT">
  
      <label for="areaTrabajo">Área de trabajo o Centro de Coste</label>
      <input id="areaTrabajo" formControlName="areaTrabajo" placeholder="Ingresa el Área o Centro">
  
      <label for="jefaturaDirecta">Jefatura directa</label>
      <select id="jefaturaDirecta" formControlName="jefaturaDirecta">
        <option value="">Selecciona una opción...</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
      </select>
  
      <label for="cargo">Cargo</label>
      <input id="cargo" formControlName="cargo" placeholder="Ingresa cargo">
  
      <label for="celular">Celular</label>
      <input id="celular" formControlName="celular" placeholder="Número de celular">
  
      <label for="correoElectronico">Correo electrónico</label>
      <input id="correoElectronico" formControlName="correoElectronico" placeholder="Ingresa e-mail">
  
      <label for="estado">Estado</label>
      <select id="estado" formControlName="estado">
        <option value="temporal">Temporal</option>
        <option value="permanente">Permanente</option>
      </select>
  
      <label for="foto">Foto</label>
      <input type="file" id="foto" formControlName="foto">
  
      <button type="submit">Reingresar datos</button>
      <button type="button">Descargar Credencial</button>
      <button type="button">Copiar Pie de Firma</button>
    </form>
  </div>
  