<body>
<div class="table-container">
    <div class="toolbar">
      <h1 class="title" >Mantenedores / Áreas</h1>
      <button class="btn btn-primary">Nuevo Área</button>
    </div>
  
    <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Centro de Coste / área</th>
          <th>Fecha creación</th>
          <th>Editado</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of areas">
          <td><input type="checkbox"></td>
          <td>{{ area.centro_coste }}</td>
          <td>{{ area.fecha }}</td>
          <td>{{ area.editado }}</td>
          <td [ngClass]="area.estado === 'activo' ? 'estado-activo' : 'estado-inactivo'">{{ area.estado }}</td>
          <td>
            <button class="btn-edit">Editar</button>
            <button class="btn-delete">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
    <div class="pagination">
      <span class="label">Principio</span>
      <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>
      
      <div class="page-numbers">
        <button *ngFor="let page of pages()" (click)="goToPage(page)" [class.active]="currentPage === page">
          {{ page }}
        </button>
      </div>
      <span (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="arrow">›</span>
      <span class="label">Final</span>
    </div>
  </div>
</body>