
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    overflow: hidden;
    min-height: calc(100vh - 80px); 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.login-card {
    padding: 20px;
}
.business-card {
    margin-top: 0;
    background: url('/Fondo_azul.png') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    text-align: left;
}

.image-section {
    flex: 1;
}

.repo-image {
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px; 
}

.contact-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
}

.contact-info h3,
.contact-info p,
.contact-info span {
    margin: 5px 0; 
}


.segmento {
    background-color: #ffda79;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

.position, .direccion {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.office-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: -20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.office-info h3 {
    font-size: 18px;
    text-align: center;
    color: #333;
}

.office-info p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.qr-section {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 10px;
}

img {
    width: 200px;
    height: 100px;
}


.qr-code {
    width: 100px;
    height: 100px;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.divider {
    border-bottom: 1px solid rgb(224, 213, 213);
    margin: 10px 0; 
    width: 100%; 
}

p, h3, div{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;

}

h2{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-top: 40px;
} 
.btn-action {
    background-color: #5280b1;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center; 
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    background-color: #0056b3;
}

.btn-action .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px; 
}


.contact-section, .email-section {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 10px 0;
}

hr.divider {
    border-bottom: 1px solid rgb(224, 213, 213);
    margin: 10px 0;
    width: 100%;
}
.contact-row {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.contact-link {
    color: #007BFF; 
    text-decoration: none; 
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline; 
}


