@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {

  background-color: rgb(238, 238, 238);
  font-family: "Open Sans", sans-serif;
  font-size: small;
  overflow-y: auto;
  text-decoration: none;
  color: inherit;
}

.title{
  font-size: x-large;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}



.toolbar {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-bottom: 20px;
  margin-top: 5%;
}

.search-bar {
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}




.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}
.btn-primary-1 {
  background-color: white;
  color: #005bb5;
  border: 2px solid #005bb5;
  cursor: pointer;
  width: 10%; 
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.no-underline {
  text-decoration: none; 
  color: inherit; 
}



.toolbar .btn {
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.label {
  margin: 0 10px; 
  font-size: small; 
  align-self: center; 
}

.arrow {
  cursor: pointer;
  margin: 0 10px; 
  font-size: xx-large; 
  color: #007bff;
}

.arrow.disabled {
  color: gray; 
  cursor: not-allowed; 
}
