<body>
    <div class="login-container">
        <div class="login-card">
            <h2 style="text-align: center;">Generar Firma de Correo</h2>

            <div class="business-card">
                <div class="card-header">
                    <div class="logo-section">
                        <img src="/logos/Logos DDC-04.svg" alt="Logo DDC" class="logo">
                    </div>
                    <div class="contact-info">
                        <h3 class="name">Nicolás Troncoso</h3>
                        <p class="position">Export Manager</p>
                        <p class="email">nicolas.troncosoddc.cl</p>
                        <p class="phone">+569 0000 0000</p>
                    </div>
                </div>

                <div class="office-info">
                    <div class="qr-section">
                        <img src="ruta-a-tu-qr.png" alt="QR Code" class="qr-code">
                    </div>
                    <div class="office-details">
                        <p class="head-office-title">Head Office</p>
                        <p class="address">
                            Av Las Condes 11700<br>
                            Torre A, Of 704, Vitacura<br>
                            Santiago, Chile<br>
                            +562 0000 0000
                        </p>
                    </div>
                    
                </div>
                <a href="https://daviddelcurto.cl" class="website">daviddelcurto.cl</a>

                <div class="footer">
                    <p>En DDC estamos comprometidos con el cuidado del planeta y sus recursos. Por favor no imprima este correo si no es necesario.</p>
                </div>
            </div>

            <div class="button">
                <a class="btn-secondary-1">Reingresar datos</a>
                <a class="btn-secondary-1" href="descargar"> Descargar credencial</a>
                <a class="btn-secondary" href="generarfirma">Crear</a>
            </div>
        </div>
    </div>
</body>
