@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #87CEEB, #005bb5) no-repeat top left / 100% 50%, white 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.content{
  margin-left: 90px;

}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;  
}


.login-card {
  position: relative; 
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  max-height: 150vh; 
  overflow-y: auto; 

}

.btn-secondary {
    background-color: #005bb5;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}
.btn-secondary-1 {
    display: inline-block;  
    background-color: white;
    color: #005bb5;
    border: 2px solid #005bb5;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;  
    white-space: nowrap; 
    width: auto; 
}


.button {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}
.business-card {
    border: 1px solid #005bb5;
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:40px;
    overflow: visible;
    background-color: #FFFFFF;

  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo-section {
    margin-right: 10px; 
}
  .logo {
    width: 500px;
    margin-right: -90px;
<<<<<<< HEAD
    margin-left: -155px;
=======
    margin-left: -110px;
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
    margin-top: -50px;
  }
  
  .contact-info {
    flex-grow: 1;
    margin-bottom: -30px;
    margin-top: -40px;
    }
  
  .company-name {
    color: #005bb5;
    margin: 0;
    font-size: 24px;
  }
  
  .tagline {
    color: #000;
    font-size: 14px;
  }
  
  .name {
    margin: -5px 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    font-size: 28px;
    white-space: nowrap;
    margin-top: 40px;

  }
  
  .position {
    margin: 0;
    font-size: 23px;
    color: rgb(0, 61, 165);
    font-family: 'Titillium Web', sans-serif;
    font-weight: light;
    margin-bottom: 10px;
    font-weight: 500;


  }
  
  .email, .phone {
    font-size: 19px;
    margin: 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;


    margin-bottom: -2px;
  }
  
  .qr-section {
    display: flex;
    justify-content: center;
    align-items: center; 
<<<<<<< HEAD
    margin-left:20px; 
=======
    margin-left: 120px; 
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
    margin-top: -70px ;
}

.qr-code {
    width: 150px;
    height: 150px;
}
  .office-details{
    margin-top: -10px; 
<<<<<<< HEAD
    margin-right: 10px;
=======
    margin-right: -20px;
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226

  }
  .office-info {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    font-family: "Roboto", sans-serif;

}
 
  .head-office-title {
    font-weight: bold;
    font-size: 16px;
    color:rgb(90, 90, 90);
    margin-bottom: 0px;
    

  }
  
  .address {
    font-size: 15px;
    margin: 0;
    color:rgb(146, 143, 143);
    margin-right: 70px;
    font-weight: 500;

  }
  
  .website {
    color: #005bb5;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
  }
  
  .footer {
    margin-top:15px;
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-left: -45px;
  }
  
  .divider {
    border: none; 
    border-top: 1px solid #ccc; 
    width:20%;
<<<<<<< HEAD
    margin-right: 140px;
=======
    margin-right:110px;
>>>>>>> d057ec9d2206c54abb9955c891c599cd3627b226
    margin-top: 0px;
  }
  

 
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media (max-width: 768px) {
  .login-card {
      max-width: 90%; 
  }
}