<body>
<div class="table-container">
    <div class="toolbar">
        <h1 class="title">Mantenedores / </h1>
        <h1 class="title" style="color: grey;">Segmentos</h1>

        <button class="btn btn-primary" (click)="cargarSegmentos()">
            <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput />
            <span (click)="fileInput.click()">Cargar Segmento</span>
        </button>

        <button class="btn btn-primary">
            <img src="/icons/crear.svg" class="option-icon" style="margin-right: 10px;">
            <span>Nuevo Segmento</span>
        </button>
    </div>

    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Nombre Completo</th>
                    <th>Id</th>
                    <th>Color</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let segmento of segmentos">
                    <td><input type="checkbox"></td>
                    <td>{{ segmento.nombreCompleto }}</td>
                    <td>{{ segmento.id }}</td> 
                    <td>{{ segmento.color }}</td> 
                    <td>{{ segmento.activo ? 'Activo' : 'Inactivo' }}</td> 
                    <td>
                        <button class="btn-edit">...</button>
                    </td>
                </tr>
            </tbody>
            
        </table>  
    </div>
</div>
</body>