.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0; 
  left: 0;
  right: 0; 
  z-index: 1000; 
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 180px; 
  height: auto; 
  margin-right: 10px; 
}

.navigation {
  display: flex;
  gap: 20px; 
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  font-size: medium;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto; 
  font-family: "Inria Sans", sans-serif;
  font-weight: bold;
}

.user-text {
  display: flex;
  flex-direction: column; 
  text-align: right;
}

.user-info img {
  margin-left: 10px; 
  width: 50px; 
  border-radius: 50%;

}
