<header class="header">
  <div class="logo">
    <img src="/Logos DDC-04.svg" alt="Logo DDC" />
  </div>
  <nav class="navigation">
    <a href="home">Inicio</a>
    <a href="gerencias">Gerencias</a>
    <a href="colaboradores">Colaboradores</a>
    <a href="segmentos">Segmentos</a>
  </nav>
  <div class="user-info">
    <div class="user-text">
        <span style="font-size: large;">Usuario</span>
        <span style="color:gray">Administrador</span>
    </div>
    <img src="/blank-profile-picture-973460_1280.png" alt="Icono Usuario" />
</div>

</header>
