<div class="modal"> 
    <div class="modal-content">
      <button class="close-btn" (click)="cerrar.emit()">✖</button>
      <h2>Modificar Colaborador</h2>
      <form (ngSubmit)="guardarDatos()">
        <div class="form-row">
          <div class="form-group">
            <h3>Nombre completo</h3>
            <input type="text" [(ngModel)]="nombre" name="nombre" required placeholder="Ingresa tu nombre y apellido" />
          </div>
        
          <div class="form-group">
            <h3>RUT</h3>
            <input type="text" [(ngModel)]="rut" name="rut" required placeholder="Ingresa tu RUT"/>
          </div>
          <div class="form-group">
            <h3>Gerencia</h3>
            <input type="text" [(ngModel)]="gerencia" name="gerencia" required placeholder="Selecciona una opción" />
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <h3>Cargo</h3>
            <input type="text" [(ngModel)]="cargo" name="cargo" required placeholder="Ingresa un cargo"/>
          </div>
          <div class="form-group">
            <h3>Segmento</h3>
            <select [(ngModel)]="segmento" name="segmento" required placeholder="Selecciona una opción">
              <option value="">Seleccione un segmento</option>
              <option value="Segmento 1">Segmento 1</option>
              <option value="Segmento 2">Segmento 2</option>
            </select>
          </div>
          <div class="form-group">
            <h3>Celular</h3>
            <input type="text" [(ngModel)]="celular" name="celular" required placeholder="Ingrese su celular" />
          </div>
        </div>
        
        <div class="form-row">
            <div class="form-group">
              <h3>Correo electrónico</h3>
              <input type="email" [(ngModel)]="correo" name="correo" required placeholder="Ingresar e-mail" />
            </div>
            <div class="form-group">
              <h3>Sede</h3>
              <input type="text" [(ngModel)]="sede" name="sede" required placeholder="Ingresar una sede"/>
            </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <h3>Foto</h3>
            <div class="foto-container">
              <div class="foto-placeholder"></div>
              <input type="file" (change)="onFileSelected($event)" />
            </div>
          </div>
          <div class="form-group">
            <h3>Adjuntos</h3>
            <div class="foto-container">
                <label>
                    <input type="checkbox" [(ngModel)]="adjuntaFirma" name="adjuntaFirma" />
                    <img src="/icons/signature-solid.svg" alt="Icono Firma" style="width: 20px; height: 20px; margin-right: 5px;" />
                    Firma
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="adjuntaCredencial" name="adjuntaCredencial" />
                    <img src="/icons/id-card-solid.svg" alt="Icono Credencial" style="width: 20px; height: 20px; margin-right: 5px;" />
                    Credencial
                </label>
            </div>
          </div>
        </div>

        <div class="button">
            <button class="btn-secondary-1" (click)="cerrar.emit()">Atrás</button>
            <button type="submit" class="btn-secondary">Modificar</button>   
        </div>     
      </form>
    </div>
  </div>
